.container{
    display: flex;
    
    height: 70vh; 
  
}

.text-div{
    flex: 1;
    font-size: 1.5rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

img{
    width: 30rem;
    object-fit: cover;
}
.image-div{
    flex: 1;
    display: flex;

    align-items: center;
    justify-content: center;
}

.image-frame{
    display: flex;
    flex-direction: column;
    border: solid 3px var(--accent);
    box-shadow: 15px 15px var(--accent);
}

.hero-image{
    border-top: solid 3px var(--accent);
}

.header-accent{
    font-size: 1.4rem;
    color: var(--accent);
    border: solid 2px var(--accent);
    width: 1.5rem;
    display: flex;
    justify-content: center;

}

.image-header{
    display: flex;
    justify-content: flex-end;
    background-color: rgba(255, 86, 1, 0.2);
    padding: 0.3rem;
}